body {
    display: flex;
    font-size: 3em;
	font-family: Arnoldboecklin, fantasy;
}

.container {
	display: flex;
	flex-direction: row;
	min-height: 100vh;
}

#header {
	text-align: center;
	padding: 10px;
}

.sports {
	display: block;
	height: auto;
	margin: auto;
	margin-top: 25px;
}
#instructions {
	font-size: .5em;
	margin-top: 25px;
}
#saying {
	font-size: .5em;
	margin-top: 25px;
}

.letters {
	letter-spacing: .5em;
}

small {
	font-size: 20px;
	color: black;
	letter-spacing: 3px;
	padding: 10px;
}

#game-board {
	flex: 800px;
    background-color:red;
	color: white;
	padding: 60px;
	font-size: .8em;
}

#wordInPlay {
    flex-shrink: inherit;
    font-size: 2em;
    font-family: Impact, 'Haettenschweiler', 'Arial Narrow Bold', sans-serif
    
}
 #wrongGuess {
	font-size: 1.5em;
	font-family: Lucida, sans-serif;
}

#gameStatus {
	font-size: 1em;
	margin-top: 25px;
}