body {
	font-size: 3em;
	font-family: Arial, Helvetica, sans-serif
}

.container {
	display: flex;
	flex-direction: row;
	min-height: 100vh;
}

#header {
	flex-grow: 1;
	text-align: center;
	padding: 30px;
}

.sports {
	display: block;
	height: auto;
	max-width: 80%;
	margin: auto;
	margin-top: 25px;
}

#saying {
	font-size: .5em;
	margin-top: 25px;
}

.letters {
	letter-spacing: .5em;
}

#game-board {
	flex: 0 0 800px;
    background-color: red;
	color: #fff;
	padding: 60px;
	font-size: .8em;
	/* box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.3); */
}

#main-panel > p, #main-panel > div {
	margin: 0 0 1em 0;
}

#wordInPlay, #wrongGuess {
	font-size: 1.5em;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
	line-height: 1.3;
}