body {
    display: flex;
    font-size: 3em;
	font-family: Arial, Helvetica, sans-serif
}

.container {
	display: flex;
	flex-direction: row;
	min-height: 100vh;
}

#header {
	/* flex-grow: 1; */
	text-align: center;
	padding: 30px;
}

.sports {
	display: block;
	height: auto;
	/* max-width: 80%; */
	margin: auto;
	margin-top: 25px;
}
#instructions {
	font-size: .5em;
	margin-top: 25px;
}
#saying {
	font-size: .5em;
	margin-top: 25px;
}

.letters {
	letter-spacing: .5em;
}

small {
	font-size: 20px;
	/* text-transform: uppercase; */
	color: black;
	letter-spacing: 3px;
	padding: 10px;
}

#game-board {
	flex: 800px;
    background-color:red;
	color: white;
	padding: 60px;
	font-size: .8em;
	/* box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.3); */
}

/* #main-panel > p, #main-panel > div {
	margin: 0 0 1em 0;
} */

#wordInPlay {
    flex-shrink: inherit;
    font-size: 2em;
    font-family: Impact, 'Haettenschweiler', 'Arial Narrow Bold', sans-serif
    
}
 #wrongGuess {
	font-size: 1.5em;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

#gameStatus {
	font-size: .5em;
	margin-top: 25px;
}